<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>SC MOTORS</title>
    </head>
    <body>
        <!-- 1 Sección para crear el boton de agregar... llamará a una ventana modal-->
        <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">   
                        <button 
                            type="button" 
                            class="btn btn-primary btn-block" 
                            data-bs-toggle="modal" 
                            data-bs-target="#agregarVehiculo">
                            <i class="fas fa-plus"></i> Agregar Vehiculo
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <!-- 2 Fragmento para agregar vehiculo, es la ventana modal -->
        <section th:fragment="agregarVehiculo">
            <div id="agregarVehiculo" 
                 class="modal fade" 
                 tabindex="-1" 
                 aria-labelledby="exampleModalLabel" 
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title">[[#{vehiculo.agregar}]]</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/vehiculo/guardar}" th:object="${vehiculo}"
                              method="POST" class="was-validated" enctype="multipart/form-data">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="marca">[[#{vehiculo.marca}]]</label>
                                    <input type="text" class="form-control" name="marca" required="true"/>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- 3 Sección principal para mostrar la informaccion de la entidad vehiculo -->
        <section th:fragment="listadoVehiculos" id="vehiculos">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>Lista</h4>
                            </div>
                            <div th:if="${vehiculos != null and !vehiculos.empty}">
                                <table class="table table-dark table-striped table-hover">
                                    <thead class="table-dark">
                                        <tr><th>#</th>
                                            <th>Marca</th>
                                            <th>Modelo</th>
                                            <th>Año</th>
                                            <th>Precio</th>
                                            <th>Estado</th>
                                            <th></th></tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="vehiculo, contador : ${vehiculos}">
                                            <td>[[${contador.count}]]</td>
                                            <td>[[${vehiculo.marca}]]</td>
                                            <td>[[${vehiculo.modelo}]]</td>
                                            <td>[[${vehiculo.year}]]</td>
                                            <td>[[${vehiculo.precio}]]</td>
                                            <td>[[${vehiculo.estado}]]</td>
                                            <td><a th:href="@{/vehiculo/eliminar/}+${vehiculo.idVehiculo}"
                                                   class="btn btn-danger">
                                                    <i class="fas fa-trash"></i> [[#{accion.eliminar}]]</a>
                                                <a th:href="@{/vehiculo/modificar/}+${vehiculo.idVehiculo}"
                                                   class="btn btn-success">
                                                    <i class="fas fa-pencil"></i> [[#{accion.actualizar}]]</a></td></tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${vehiculos == null or vehiculos.empty}">
                                <span>[[#{lista.vacia}]]</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center bg-success text-white mb-3">
                            <div class="card-body">
                                <h3>Total de vehiculos</h3>
                                <h4 class="fs-2"><i class="fa fa-car"></i> [[${totalVehiculos}]]</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- 4 Fragmento que se utiliza en la página modifica.html -->
        <section th:fragment="editarVehiculo">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="POST"
                          th:action="@{/vehiculo/guardar}" 
                          th:object="${vehiculo}"
                          class="was-validated"                          
                          enctype="multipart/form-data">
                        <input type="hidden" name="idVehiculo" th:field="*{idVehiculo}"/>
                        <section th:replace="~{vehiculo/fragmentos :: botonesEditar}"/>
                        <div id=details>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4>[[#{accion.actualizar}]]</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="mb-3">
                                                    <label for="marca">[[#{vehiculo.marca}]]</label>
                                                    <input type="text" class="form-control" 
                                                           name="marca" th:field="*{marca}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="modelo">[[#{vehiculo.modelo}]]</label>
                                                    <input type="text" class="form-control" 
                                                           name="modelo" th:field="*{modelo}"
                                            </div>
                                            <div class="mb-3">
                                                <label for="precio">[[#{vehiculo.precio}]]</label>
                                                <input type="text" class="form-control" 
                                                       name="precio" th:field="*{precio}"
                                        </div>
                                        <div class="mb-3">
                                            <label for="estado">[[#{vehiculo.estado}]]</label>
                                            <input type="text" class="form-control" 
                                                   name="estado" th:field="*{estado}"
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </form>
    </div>
</div>
</section>

<!-- 5 Fragmento que se utiliza en el fragmento anterior -->
<section th:fragment="botonesEditar">
    <div class="container py-4 mb-4 bg-light">
        <div class="row">
            <div class="col-md-4 d-grid">
                <a th:href="@{/vehiculo/listado}" class="btn btn-primary">
                    <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                </a>
            </div>
            <div class="col-md-4 d-grid">                                
                <a th:href="@{/vehiculo/eliminar/}+${vehiculo.idVehiculo}"
                   class="btn btn-danger">
                    <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                </a>
            </div>
            <div class="col-md-4 d-grid">
                <button type="submit" class="btn btn-success">
                    <i class="fas fa-check"></i> [[#{accion.guardar}]]
                </button>
            </div>
        </div>
    </div>
</section>

</body>
</html>
