<!DOCTYPE html>

<html>
    <head>
        <title>SC MOTORS</title>
        <meta charset="UTF-8">
        
        <link href="../../static/css/estilos.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header>
            <h1 style=" font-size: 24px;font-family: Arial, sans-serif; margin: 0;
                padding: 0;background-color: black; height: 4vh;position: relative;
                color: white; display: flex;justify-content: space-between;align-items: center;
                padding: 10px 20px; position: absolute; top: 0; left: 0; width: 100%; " 
                class="titulo"><strong>SC MOTORS</strong>
               <a href="mockup_1.html"><input type="submit" value="Conózcanos" name="boton conózcanos" class="boton"/></a>
        </header>
        <section class="cuadro">
            <p>SC MOTORS nace en el año 2020 con la intención de ofrecer vehículos con garantía extendida mediante
                una plataforma virtual, en la cual, los ausuarios pueden acceder a financiamiento y una compra segura.</p>
            <p>Cada vehículo incluye garantía extendida de motor y caja, para la grantía contamos con dos
                mecánicos. Los vehículos incluyen marchamo 2024. La garantía se da por 6 meses.</p>
            <p>Dueño y vendedor - Jean Carlo Flores Solís</p>
            <p>Email empresarial - Jsolis@scmotorscr.com</p>
            <p>Email personal - jeancarlosoliss@gmail.com</p>
            <p>Teléfonos</p>
            <p>6015-7555</p>
            <p>8844-0370</p>

        </section>
        <footer>
            <h1>
                <a href="mockup_17.html"><input type="submit" value="Atrás" name="boton atras" class="botonrojo"/></a>
            </h1>
        </footer>
    </body>
</html>
