<!DOCTYPE html>

<html>
    <head>
        <title>SC MOTORS</title>
        <meta charset="UTF-8">
        <link href="css/carros.css" rel="stylesheet" type="text/css"/>
        <link href="css/estilos.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header>
            <div class ="menu"> 
            <div class="logo">SC MOTORS</div>
            <div class="conozcanos">
                <a href="mockup_1.html"></a>Conózcanos</div>
<a href="paginacarros.html" class="enlace-atras" style="text-decoration: none; color: black;">&triangleleft; Atrás</a>
            </div>
        </header>

        <div class="contenedor">
            <img class="imagen-grande" src="img/WhatsApp Image 2024-03-11 at 9.51.44 PM.jpeg">
            
            <div class="imagenes-pequenas">
                <a href="mockup_20.html">
                    <img class="imagen-pequena" src="img/WhatsApp Image 2024-03-11 at 9.51.42 PM.jpeg">
                </a>
                <a href="mockup_21.html">
                    <img class="imagen-pequena" src="img/WhatsApp Image 2024-03-11 at 9.51.44 PM (1).jpeg">
                </a>
                <a href="mockup_22.html">
                    <img class="imagen-pequena" src="img/WhatsApp Image 2024-03-11 at 9.51.44 PM (2).jpeg">
                </a>
            </div>
        </div>
        
         <div class="cuadro1">
             <p><strong>Toyota Hiace - 2020
                 Precio: $40.800 </strong></p>
         </div>
        <div class="cuadro2">
            <p>Vendedor: Jean Carlo Flores Solís
            Teléfono: 6015-7555</p>
        </div>
        
        <div class="cuadro3">
            <p>Datos del Vehículo</p>
            <p> Combustible: Diesel</p>
            <p>   #Puertas: 3 puertas</p>
            <p>   Kilometraje: 190.000 km</p>
            <p>   Transmisión: Manual </p>
            
        </div>
    </body>
</html>
